@import '../../styles/settings.scss';

.navbar{
    display: inline-flex;
    padding: 1em 2.5em 1em 2.5em;
    background-color: $color-darker;
    width: 100%;
    justify-content: space-between;
    .linkActive {
        color: $color-warning;
    }
}

.navtaskcontainer{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task{
    font-size: ($base-size * 2);
    color: $color-light
}

.navbuttoncontainer{
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.navlinks{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.3em 0 0.3em 0;
}

.navlinks li{
    list-style-type: none;
    padding: 0 1.2em 0 1.2em;
}

.navlinks a{
    text-decoration: none;
    color: $color-light;
    transition: color 1s;
}
